<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<div class="grid-container">
  <div class="header"></div>
  <div class="nav">

    <p class="notice"><%= notice %></p>
    <p class= "alert"><%= alert %></p>
    
    <div class="logo">
        <h1>Banta<span class="head-stop">.</span></h1>
    </div>
    
    <h5>Channels</h5>
    
    <ul>
    <% @chat_rooms.each do |cr| %>
        <li <% if cr == @chat_room %>class="active" <% end %>><%= link_to cr.name, chat_room_path(id: cr.id) %></li>
    <% end %>
    </ul>
    <div class="destroy">
      <%= link_to('Logout', destroy_user_session_path,  :method=>'delete') %>
    </div>
  </div>
  
  <div class="convo">
    <%= render partial: 'messages/message', collection: @chat_room.messages %>
  </div>
    <div class="message">
      <%= form_with url: chat_room_messages_path(@chat_room), html: {class: "nifty_form"}, :method => :POST, remote: true do |f| %>
      <%= f.text_area :content, size: "60x12" %>
      <%= f.submit "Godspeed!", class: "submit-btn" %>
      <% end %>
  </div>

  
</div>

<script>

  $(document).ready(function(){
    
    scroll('.convo');
    $(".message textarea").keypress(function(event) {
      if (event.which == 13) {
          event.preventDefault();         
          Rails.fire(document.querySelector(".nifty_form"), 'submit');
        }
    });
  });

  // $(document).ready(function(){
  //   scroll('.convo');
  //   setInterval(refresh, 2000);
  //   textAreaSize('.message textarea','.convo', '.message');

  //   $(".message textarea").keypress(function(event) {

  //     if (event.which == 13) {
  //         event.preventDefault();         
  //         Rails.fire(document.querySelector(".nifty_form"), 'submit');
  //         document.querySelector(".message textarea").value = "";
  //       }
  //   });

  // });

  // function textAreaSize(textarea, conversation, message){
  //   $(textarea).bind("click", function() {
  //     $(message).addClass('on');
  //   });
  //   $(conversation).bind("click", function() {
  //     $(message).removeClass('on');
  //   });
  // }

  // function scroll(div){
  //   var objDiv = document.querySelector(div);
  //   objDiv.scrollTop = objDiv.scrollHeight;
  // }

  // function refresh() {
  //   let last_message = $('.bubble').last().attr('sent-time'); 
  //   var chatid = <%= @chat_room.id %> 

  //   $.get('/chat_rooms/'+chatid+'/messages.html?since='+last_message, function(response){ 
  //     $('.convo').append(response);
  //     if (!$('.convo').is(":hover")) {
  //       scroll('.convo');
  //     } 
  //   });
  //   // setTimeout(refresh, 5000);
  // }


  $(document).ready(function(){
    message_subscription(<%= @chat_room.id %>)
  });

</script>