<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<div class="grid-container">
  <div class="header">
  </div>
  <div class="nav">
    <div class="logo">
        <h1>Banta</h1>
    </div>
    <h5>Channels</h5>
    <ul>
    <% @user.chat_rooms.each do |cr| %>
        <li><%= link_to cr.name, chat_room_path(id: cr.id) %></li>
    <% end %>
    </ul>
  </div>
  <div class="convo">
    <% @chat_room.messages.each do |m| %>
    <% if m.user == current_user %>
      <% class_bubble = 'bubble current' %>
      <% else %>
      <% class_bubble = "bubble" %>
    <% end %>
      <div class="<%= class_bubble %>">
        <span class="username">
          <%= m.user.name %> 
        </span>
        <%= m.content %>
      </div>
    <% end %>

  <div class="message">
  <%= form_for [@chat_room, @user, @message], url: chat_room_messages_path(@chat_room), message: @message,  html: {class: "nifty_form"}, :method => :POST do |f| %>
  <%= f.text_area :content, size: "60x12" %>
   <%= f.submit "Godspeed!", class: "submit-btn" %>
  <% end %>

  </div>

  </div>

  
</div>

<script>
  $(document).ready(function(){
    var objDiv = document.querySelector(".convo");
    objDiv.scrollTop = objDiv.scrollHeight;
  });
</script>