<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<div class="grid-container">
  <div class="header">
  </div>
  <div class="nav">
   <p class="notice"><%= notice %></p>
  <p class= "alert"><%= alert %></p>
    <div class="logo">
        <h1>Banta<span class="head-stop">.</span></h1>
    </div>
    <h5>Channels</h5>
    <ul>
    <% @chat_rooms.each do |cr| %>
        <li><%= link_to cr.name, chat_room_path(id: cr.id) %></li>
    <% end %>
    </ul>
  </div>
  <div class="convo">
    <%= render partial: 'messages/message', collection: @chat_room.messages %>
  </div>
    <div class="message">
      <%= form_for [@chat_room, @user, @message], url: chat_room_messages_path(@chat_room), message: @message,  html: {class: "nifty_form"}, :method => :POST do |f| %>
      <%= f.text_area :content, size: "60x12" %>
      <%= f.submit "Godspeed!", class: "submit-btn" %>
      <% end %>
  </div>

  
</div>

<script>
  $(document).ready(function(){
    scroll('.convo');
    setTimeout(refresh, 2000);
  });

  function scroll(div){
    var objDiv = document.querySelector(div);
    objDiv.scrollTop = objDiv.scrollHeight;
  }

  function refresh() {
    let message_time = $('.bubble').last().attr('sent-time'); 
    var chatid = <%= @chat_room.id %> 

    $.get('/chat_rooms/'+chatid+'/messages.html',function(response){
      $('.convo').html(response);
      if (!$('.convo').is(":hover")) {
        scroll('.convo');
      } 
    });
    setTimeout(refresh, 2000);
}
</script>